.editor{
	width:500px;
	height:700px;
	border:1px solid blue;
	margin:0px auto;

}

.editor .rows{
	width:100%;
	height:auto;
	border:1px solid red;
	display: block;

}

.line-numbers{
	width: 20px;
	border:1px solid blue;
	height:auto;
	position: absolute;
	padding:0px auto;
	margin-left: -22px;
}